<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.board_springboot.mapper.AttachMapper">

    <resultMap id="attachVO" type="com.example.board_springboot.domain.AttachVO">
        <result property="uuid" column="uuid" javaType="String" jdbcType="VARCHAR"/>
        <result property="uploadPath" column="upload_path" javaType="String" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="image" column="image" javaType="boolean" jdbcType="CHAR"/>
        <result property="boardId" column="board_id" javaType="Long" jdbcType="BIGINT"/>
    </resultMap>

    <insert id="insert" >
        insert into attach (uuid, upload_path, file_name, image, board_id)
        values (#{uuid}, #{uploadPath}, #{fileName},
                #{image}, #{boardId} )
    </insert>

    <delete id="delete">

        delete from attach where uuid = #{uuid}

    </delete>

    <select id="findByBoardId" resultMap="attachVO">
        select * from attach where board_id = #{boardId}
    </select>

    <delete id="deleteAll">
        delete from attach where board_id = #{boardId}
    </delete>

    <select id="findOldFolders" resultMap="attachVO">
        SELECT * from attach
        WHERE upload_path = DATE_FORMAT(CURDATE() - INTERVAL 1 DAY, '%Y\%m\%d')
    </select>

</mapper>
